
body {
    background-color: #212121;
    color: #d3d3d3;
}
.jumbotron {


    background: #212121;
    
    
    color: rgb(30, 206, 36);
    
    
    text-align: center;
    
    
    }
h1 {
    color: #12c545;
    background-color: #212121;
}
div.well {
    background: #212121;
    
    
    color: white;
    
}
button, input, select, textarea { 
    margin: 0;
    background: orange;
    font: inherit;
    color: black;
}

div.panel-body {
    background: #212121;
    
    
    color: white;
}